[submodule "modules/common"]
	path = modules/common
	url = git@github.com:awjh-ibm/WeTradePoC-common.git
[submodule "modules/assets"]
	path = modules/assets
	url = git@github.com:awjh-ibm/WeTradePoC-assets.git
[submodule "modules/ledger-api"]
	path = modules/ledger-api
	url = git@github.com:awjh-ibm/WeTradePoC-ledger-api.git
