[submodule "modules/assets"]
	path = modules/assets
	url = git@github.ibm.com:WeTradePOC/assets.git
[submodule "modules/common"]
	path = modules/common
	url = git@github.ibm.com:WeTradePOC/common.git
[submodule "modules/ledger-api"]
	path = modules/ledger-api
	url = git@github.ibm.com:WeTradePOC/ledger-api.git
