[submodule "modules/common"]
	path = modules/common
	url = git@github.com:WeTradePoC/common.git
[submodule "modules/assets"]
	path = modules/assets
	url = git@github.com:WeTradePoC/assets.git
[submodule "modules/ledger-api"]
	path = modules/ledger-api
	url = git@github.com:WeTradePoC/ledger-api.git
